[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
requests = "*"
django-admin-thumbnails = "*"
python-decouple = "*"
django-admin-honeypot = "*"
django-session-timeout = "*"

[dev-packages]

[requires]
python_version = "3.9"
