{% extends "base.html" %}

{% block content %}

<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
			{% include 'includes/alerts.html' %}
				<!-- row -->
				<div class="row">
                {% include 'includes/dashboard_sidebar.html' %}
					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Change your password</h3>
							</div>

							<form action="{% url 'change_password' %}" method='POST'>
							{% csrf_token %}
                            <label>Current password</label> 
							<div class="form-group">
								<input type="password" name="currentpassword" class="form-control" placeholder="Current Password" required>
							</div>
							<label>New password</label>
							<div class="form-group">
								<input type="password" name="newpassword" class="form-control" placeholder="New Password" required>
							</div>
                            <label>Retype New password</label>
							<div class="form-group">
								<input type="password" name="confirmpassword" class="form-control" placeholder="Retype New Password" required>
							</div>
							
							<div class="form-group">
             					 <button type="submit" class="btn btn-primary btn-block" style="background-color:black; color:red; border-color: #D10024;"> Save  </button>
          					</div> <!-- form-group// -->  
                            </form>
						</div>
						<!-- /Billing Details -->
					</div>
                        <!-- col -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


{% endblock content %}