{% extends "base.html" %}

{% block content %}

<div class="container mx-auto" role="alert"  style="width:70%; margin-top:40px;">

<div class="card mx-auto" style="width:70%; margin-top:40px;">
      <div class="card-body">
      {% include 'includes/alerts.html' %}
      <h4 class="card-title mb-4">Sign in</h4>
      
      <form action="{% url 'reset_password' %}" method='POST'>
      {% csrf_token %}
          <div class="form-group">
			 <input type="password" name="password" class="form-control" placeholder=" Enter new Password" >
          </div> <!-- form-group// -->
          <div class="form-group">
			 <input type="password" name="confirm_password" class="form-control" placeholder="Confirm new password" >
          </div> <!-- form-group// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" style="background-color:black; color:red; border-color: #D10024;"> Reset password  </button>
          </div> <!-- form-group// -->    
      </form>
       <div class="form-group">
          	<a href="{% url 'login' %}" class="float-right"> Login</a>           
          </div> <!-- form-group form-check .// -->
</div>


{% endblock content %}