<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item {% if '/accounts/dashboard/' == request.path %}active{% endif %}" href="{% url 'dashboard' %}"> Dashboard </a>
			<a class="list-group-item {% if '/accounts/my_orders/' == request.path %}active{% endif %}" href="{% url 'my_orders' %}"> My orders </a>
			<a class="list-group-item {% if '/accounts/edit_profile/' == request.path %}active{% endif %}" href="{% url 'edit_profile' %}"> Edit profile </a>
			<a class="list-group-item {% if '/accounts/change_password/' == request.path %}active{% endif %}" href="{% url 'change_password' %}"> Change password </a>
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>