<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
						{% include 'includes/alerts.html' %}
							<p>Stay tuned to upcoming discount events by signing up for the <strong>NEWSLETTER</strong></p>
							<form action="{% url 'subscribe' %}" method='POST'>
							{% csrf_token %}
								<input class="input" type="email" name="email" placeholder="Enter Your Email">
								<button class="newsletter-btn" type="submit"><i class="fa fa-envelope"></i> Subscribe</button>
                            </form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<ul class="footer-links">
									<li><a href="{% url 'index' %}"><i class="fa fa-signal" aria-hidden="true"></i>MyTech® - Your Technology</a></li>
									<li><a href="https://g.page/DjangoGuitars?share" target="_blank"><i class="fa fa-map-marker"></i>Get Directions </a></li>
									<li><a href="tel:+012456789"><i class="fa fa-phone"></i>Call us</a></li>
									<li><a href="mailto:email@example.com"><i class="fa fa-envelope-o"></i>Email us</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
								{% for catg in cat_links %}
									<li><a href="{{ catg.get_url }}">{{ catg.name }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>									
                                    <li><a href="#" data-toggle="modal" data-target="#myModal">Contact us</a>
									<div class="container">
									<!-- Modal -->
									<div class="modal fade" id="myModal" role="dialog">
										<div class="modal-dialog">										
										<!-- Modal content-->
										<div class="modal-content">
									
											<div class="modal-body">
											<form action="{% url 'contact_me' %}" method='POST'>
											{% csrf_token %}
											<div class="form-group">
												<label for="email" class="col-form-label" style="color:black">Email</label>
												<input type="email" name="email" class="form-control" id="email">
											</div>
											<div class="form-group">
												<label for="title" class="col-form-label" style="color:black">Title</label>
												<input type="text" name="title" class="form-control" id="title">
											</div>
											<div class="form-group">
												<label for="body" class="col-form-label" style="color:black">Message</label>
												<textarea class="form-control" type="text" name="body" id="body"></textarea>
											</div>
											
										</div>
											<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal"  style="background-color:black; color:red; border-color: #D10024;">Close</button>
											
											<button type="submit" class="btn btn-primary"  style="background-color:black; color:red; border-color: #D10024;">Send message</button>					   
										</div>
										</form>
										</div>										
										</div>
									</div>									
									</div>
									</li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="#">My Account</a></li>
									<li><a href="#">View Cart</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>						
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->
		</footer>
		<!-- /FOOTER -->
