{% load static %}
<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="tel:+012456789"><i class="fa fa-phone"></i> Call us</a></li>
						<li><a href="mailto:email@example.com"><i class="fa fa-envelope-o"></i> Email us</a></li>
						<li><a href="https://g.page/DjangoGuitars?share" target="_blank"><i class="fa fa-map-marker"></i> Get Directions</a></li>
					</ul>
					<ul class="header-links pull-right" style="margin-right:3em;">
						<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
						<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user-o"></i> My Account</a>
						<ul class="dropdown-menu" style="background-color:black; color:red;">
						{% if user.is_authenticated %}
						<li><a href="{% url 'dashboard' %}" style="background-color:black; color:white;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Dashboard</a></li>
						<li><a href="{% url 'logout' %}" style="background-color:black; color:white;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Logout</a></li>
						{% else %}
						<li><a href="{% url 'login' %}" style="background-color:black; color:white;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Login</a></li>
						<li><a href="{% url 'register' %}" style="background-color:black; color:white;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Register</a></li>
						{% endif %}
						</ul>
					</li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="{% url 'index' %}" class="logo">
									<h5 style="color: red; margin-top: 2em; :hover: white;"><i class="fa fa-signal" aria-hidden="true"></i>   MyTech® - Your Technology</h5>
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form action="{% url 'search' %}" method="GET">
									<select class="input-select" onchange="if (this.value) window.location.href=this.value">
									<option>All Categories</option>
									{% for catg in cat_links %}
										<option value="{{ catg.get_url }}">{{ catg.name | truncatewords:"1" }}</option>
						            {% endfor %}
									</select>
									<input class="input" placeholder="Search here" name="keyword">
									<button class="search-btn" type="submit">Search</button>
								</form>
							</div>
						</div>
						
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<div>
									<a href="#">
										<i class="fa fa-heart-o"></i>
										<span>Your Wishlist</span>
										<div class="qty">0</div>
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div>
									<a href={% url 'cart' %}>
										<i class="fa fa-shopping-cart"></i>
										<span>Your Cart</span>
										<div class="qty">{{ cart_count }}</div>
									</a>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'store' %}">Store</a></li>
						<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
						{% for catg in cat_links %}
						<li><a id="categelems" href="{{ catg.get_url }}">{{ catg.name }}</a></li>
						{% endfor %}
						</ul>
					</li>
						
						
					</ul>
					<!-- /NAV -->				
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->
